<a href="https://colab.research.google.com/github/skyflaren/cse-151a-project/blob/main/CSE151A_Milestone_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/new_york_listings_2024.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating,bedrooms,beds,baths
0,1312228,Rental unit in Brooklyn · ★5.0 · 1 bedroom,7130382,Walter,Brooklyn,Clinton Hill,40.683710,-73.964610,Private room,55.0,...,2015-12-20,0.03,1,0,0,No License,5.0,1,1,Not specified
1,45277537,Rental unit in New York · ★4.67 · 2 bedrooms ·...,51501835,Jeniffer,Manhattan,Hell's Kitchen,40.766610,-73.988100,Entire home/apt,144.0,...,2023-05-01,0.24,139,364,2,No License,4.67,2,1,1
2,971353993633883038,Rental unit in New York · ★4.17 · 1 bedroom · ...,528871354,Joshua,Manhattan,Chelsea,40.750764,-73.994605,Entire home/apt,187.0,...,2023-12-18,1.67,1,343,6,Exempt,4.17,1,2,1
3,3857863,Rental unit in New York · ★4.64 · 1 bedroom · ...,19902271,John And Catherine,Manhattan,Washington Heights,40.835600,-73.942500,Private room,120.0,...,2023-09-17,1.38,2,363,12,No License,4.64,1,1,1
4,40896611,Condo in New York · ★4.91 · Studio · 1 bed · 1...,61391963,Stay With Vibe,Manhattan,Murray Hill,40.751120,-73.978600,Entire home/apt,85.0,...,2023-12-03,0.24,133,335,3,No License,4.91,Studio,1,1

# Exploratory Data Analysis

In [ ]:
housingcolumnnames = ['neighbourhood_group',
                      'room_type',
                      'minimum_nights',
                      'number_of_reviews',
                      'reviews_per_month',
                      'calculated_host_listings_count',
                      'rating',
                      'bedrooms',
                      'beds',
                      'baths']
housingtargetname = ['price']

In [ ]:
df.shape

(20745, 25)

In [ ]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,rating,bedrooms,beds,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island
count,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000,20745.000000
mean,187.827718,28.560328,42.647722,1.258118,18.850856,206.020631,10.854375,4.747933,1.307110,1.724174,0.556712,0.005399,0.423765,0.014124,0.045746,0.371800,0.387178,0.181248,0.014027
std,1023.115186,33.545917,73.577368,1.904990,70.931618,135.079206,21.361674,0.268073,0.877483,1.212516,0.496785,0.073280,0.494166,0.118005,0.208939,0.483297,0.487117,0.385233,0.117607
min,10.000000,1.000000,1.000000,0.010000,1.000000,0.000000,0.000000,1.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,80.000000,30.000000,4.000000,0.210000,1.000000,87.000000,1.000000,4.680000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,125.000000,30.000000,14.000000,0.650000,2.000000,215.000000,3.000000,4.810000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,199.000000,30.000000,49.000000,1.800000,5.000000,353.000000,15.000000,4.910000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,100000.000000,1250.000000,1865.000000,75.490000,713.000000,365.000000,1075.000000,5.000000,15.000000,42.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
sns.pairplot(df)

In [ ]:
sns.heatmap(df.corr(), vmin=-1, vmax=1, center=0, square=True)
# add "annot=True," to see actual values

# Target Variable

In [ ]:
df['price'].describe()

In [ ]:
plt.boxplot(df['price'])
plt.ylabel('Price')
plt.title('Distribution of AirBNB Prices')

plt.show()

### Scatterplots for Variables' Relationships with Price

In [ ]:
plt.scatter(df['price'], df['number_of_reviews'])
plt.xlabel('Price')
plt.ylabel('Number of Reviews')
plt.title('Price vs Number of Reviews')

plt.show()

# Exploring Data

In [ ]:
null_counts = df.isnull().sum()
null_counts

In [ ]:
# This is a list of all of the columns in our dataset (features + target)
df.columns

In [ ]:
# This is the number of unique values in each column
unique_counts = df.nunique()
unique_counts

In [ ]:
# This is the type of value associated with each column
column_types = df.dtypes
column_types

In [ ]:
# This is a list of all the unique values for the categorical / object type data
categorical_cols = ["name", "host_name", "neighbourhood_group", "room_type", "last_review", "rating", "bedrooms", "baths"]
unique_values = {col: df[col].unique() for col in categorical_cols}
unique_values

## Data Cleaning

In [ ]:
# drop feature columns we are not using
df.drop(columns=['id', 'name', 'host_id', 'latitude', 'longitude'], inplace=True)
df

In [ ]:
# get count of studio string in bedrooms column
studio_count = df['bedrooms'].value_counts().get('Studio')
studio_count

In [ ]:
notspecified_baths = df['baths'].value_counts().get('Not specified')
notspecified_baths

In [ ]:
df = df[df.baths != 'Not specified']
notspecified_baths = df['baths'].value_counts().get('Not specified', 0)
notspecified_baths

In [ ]:
noratings = df['rating'].value_counts().get('No rating')
noratings

In [ ]:
# replacing new with null so we can impute
df.replace('New ', np.nan, inplace=True)
new_count = df['rating'].value_counts().get('New ', 0)
new_count

In [ ]:
# replacing no rating with null so we can impute
df.replace('No rating', np.nan, inplace=True)
no_ratings_count = df['rating'].value_counts().get('No rating', 0)
no_ratings_count

In [ ]:
# converting rating column to float
df['rating'] = df['rating'].astype(float)

# imputing new and no rating values with median of the column
df['rating'] = df['rating'].fillna(df['rating'].median())
df['rating'].describe()

In [ ]:
# number of nulls in ratings column should now be zero
print(df['rating'].isna().sum())

# Distribution of Numerical Features

In [ ]:
# Here is a distribution summary of the min / max / 50% / mean for all the numerical cols
numeric_summary = df.select_dtypes(include='number').describe().transpose()
numeric_summary[['min', 'max', '50%', 'mean']]

In [ ]:
# specifically encode whether or not the value of "bedroom" was "studio", since we reason studio apartments don't have a bedroom,
# but are in their own unique situation, hence giving them their own column

df['studio'] = (df['bedrooms'] == 'Studio')
df['bedrooms'].replace('Studio', '0', inplace=True)

# convert value from string to floats, since there is no more "studio" value
df['bedrooms'] = df['bedrooms'].apply(float)

In [ ]:
encoded_neighborhoodgroup_df = pd.get_dummies(df, columns=['neighbourhood_group'])
df = encoded_neighborhoodgroup_df.copy()

In [ ]:
# Our new list of columns after one hot encodings
df.columns

# Distribution of Categorical Features

### Neighbourhood Group

In [ ]:
df["neighbourhood_group"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('Categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of neighbourhood_group Column')
plt.show()

### Room Type

In [ ]:
encoded_neighborhoodgroup_df = pd.get_dummies(df, columns=['room_type'])
df = encoded_neighborhoodgroup_df.copy()

In [ ]:
df["room_type"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('Categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of room_type Column')
plt.show()

### Neighbourhood

In [ ]:
df["neighbourhood"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('Categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of neighbourhood Column')
plt.show()

### Rating

In [ ]:
df["rating"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('rating categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of rating Column')
plt.show()

### Bedrooms

In [ ]:
df["bedrooms"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('Categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of bedrooms Column')
plt.show()

### Baths

In [ ]:
df["baths"].value_counts().plot(kind='bar', legend=True)
plt.xlabel('Categories')
plt.ylabel('Frequency')
plt.title(f'Distribution of baths Column')
plt.show()

#### One-Hot Encoding